# PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=healthai
DB_USER=postgres
DB_PASSWORD=REMPLACER_PAR_LA_VALEUR_ENVOYEE_PAR_MAIL

# Google OAuth — même Client ID que le Frontend
GOOGLE_CLIENT_ID=REMPLACER_PAR_LA_VALEUR_ENVOYEE_PAR_MAIL

# URLs internes des microservices (ne pas modifier en local avec Docker)
KCAL_SERVICE_URL=http://kcal:8001
MEAL_SERVICE_URL=http://meal:8003
AUTH_SERVICE_URL=http://auth:8004
ADMIN_SERVICE_URL=http://admin:8006
ETL_SERVICE_URL=http://etl:8002

# ETL
DATA_DIR=/app/data
